@import './_styleguide/normalize'
@import './_styleguide/mixins'
@import './_styleguide/variables'

@import './components/*';

html, body
  background-color #02061D
  font-family 'Roboto', sans-serif

#texture-tool-wrapper
  display none
