// COLORS
blackColor = #000000
whiteColor = #ecf0f1

// FONT-FACE
// @font-face
  // font-family 'ABChanel2014'
  // font-weight normal
  // font-style normal
  // src url( '../assets/fonts/Brandon.eot' )
  // src url( '../assets/fonts/Brandon.woff2' ) format( 'woff2' ),
  // url( '../assets/fonts/Brandon.woff' ) format( 'woff' ),
  // url( '../assets/fonts/Brandon.ttf' ) format( 'opentype' ),
  // url( '../assets/fonts/Brandon.svg#Brandon' ) format( 'svg' )
