html( lang='en' )
  head
    include ./_sections/head
  body
    #experiment
    #hud.hud
    .header
      .header-title Sweet Pursuit
      #loader.header-loader

    button#sound.sound

    script( type='text/javascript' src='./js/main.js' )
