html( lang='en' )
  head
    include ./_sections/head
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  body
    #experiment
    #hud.hud
    .header
      .header-title
      #loader.header-loader

    button#sound.sound

    script( type='text/javascript' src='./js/main.js' )
