html( lang='en' )
  head
    include ./_sections/head
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  body
    #experiment
    #hud.hud
    .header
      #logo.header-title
      #loader.header-loader.loader
        #loader-title.loader-title loading
        .loader-progress
          #progress

    #tuto.tuto

    #success.success

    .soundContainer
      p#credits.credits.hidden Winter ride <span>- FiluAndDina</span>
      button#sound.sound.play.hidden

    script( type='text/javascript' src='./js/main.js' )
