html( lang='en' )
  head
    include ./_sections/head
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  body
    #experiment
    #hud.hud
    .header
      .header-title
      .header-loader.loader
        #loader-title.loader-title loading
        .loader-progress
          #progress

    button#sound.sound

    script( type='text/javascript' src='./js/main.js' )
