html( lang='en' )
  head
    include ./_sections/head
  body
    #experiment
    #hud.hud
    .header
      #logo.header-title
      #loader.header-loader

    #tuto.tuto

    #success.success

    button#sound.sound.play

    script( type='text/javascript' src='./js/main.js' )
