.header
  verticalAlign()
  top: 45%
  font-size rem( 30 )
  color whiteColor
  text-align center
  user-select none
  cursor default

  &-title
    width rem( 300 )
    height rem( 150 )
    background-size rem( 300 )
    background-image url( '../assets/images/sprites/logo.png' )
    background-repeat no-repeat

    &.play
      animation sprite 1s steps( 39 )
      animation-fill-mode forwards

@keyframes sprite
  0%
    background-position center 0%
  100%
    background-position center 100%
