.sound
  background url( '../../assets/images/sound.png' ) no-repeat center center
  background-size contain
  border none
  appearance none
  outline none
  width rem( 30 )
  height rem( 30 )
  position absolute
  bottom rem( 20 )
  right rem( 20 )
